:root {
  --background: #1a1b26;
  --foreground: #a9b1d6;

  --black: #32344a;
  --red: #f7768e;
  --green: #9ece6a;
  --yellow: #e0af68;
  --blue: #7aa2f7;
  --magenta: #ad8ee6;
  --cyan: #449dab;
  --white: #787c99;

  --bright-black: #444b6a;
  --bright-red: #ff7a93;
  --bright-green: #b9f27c;
  --bright-yellow: #ff9e64;
  --bright-blue: #7da6ff;
  --bright-magenta: #bb9af7;
  --bright-cyan: #0db9d7;
  --bright-white: #acb0d0;
}

body {
  width: 100hh; height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
  text-align: justify;
}

.welcome {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 14px;
  margin-top: 42px;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.line {
  width: 50%;
  margin-left: 25%;
  border-bottom: 1px dotted;
  border-bottom-width: 50%;
  border-bottom-color: var(--foreground);
}

.about {
  max-width: 50%;
}

.about > p > em > a {
  color: var(--bright-yellow);
  text-decoration: underline;
}

.about > p > a {
  color: var(--cyan);
  text-decoration: underline dotted;
}

.whale {
  width: 32px; height: 32px;
  vertical-align: middle;
  transition: 1s;
}

.whale:hover {
  transform: rotate(360deg);
  transition: transform .7s ease-in-out;
}

.picture {
  width: 200px; height: 200px;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px;
}

.picture > img {
  width: 100%; height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.25s ease;
}

.picture:hover img {
  filter: grayscale(0%);
}

@media only screen and (max-width: 720px) {
  body {
    padding: 12px;
  }

  .welcome {
    flex-direction: column;
    justify-content: center;
    margin: 4px;
  }

  .line {
    width: 80%;
    margin-left: 10%;
  }

  .about {
    max-width: 100%;
  }

  .picture {
    margin: 0 auto;
  }
}

.prompt {
  width: 60%;
  background: var(--background);
  color: var(--foreground);
  outline: none; border: 0;
}

.output {
  width: 75%;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 1080px) {
  .prompt {
    width: 40%;
  }

  .output {
    width: 90%;
  }
}

.active {
  font-weight: 600;
  margin-bottom: 8px;
}

.user {
  color: var(--yellow);
}

.system {
  color: var(--green);
}

.indented {
  padding-left: 20px;
}

.command {
  color: var(--cyan);
}

.command > button {
  color: var(--cyan);
  background: var(--background);
  border: none; padding: 0;
  text-decoration: underline dotted;
  font-weight: 600;
}

.views {
  column-count: 2;
  column-gap: 16px;
  margin: 8px;
}

.views > * {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.caption {
  text-align: left;
  font-size: 10px;
}

@keyframes fullscreen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fullscreen {
  width: 100vw; height: 100vh;
  position: fixed; inset: 0;
  display: flex; z-index: 42;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px; margin-top: 0;
  background: var(--background);
  box-sizing: border-box;
  opacity: 0;
  animation: fullscreen 0.5s ease forwards;
}

.fullscreen > img {
  max-width: 96vw;
  max-height: 90vh;
  border-radius: 8px;
}

blockquote {
  color: var(--foreground);
  opacity: 0.75;
}

.lists {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 16px;
  text-align: left;
}

.lists > div > strong {
  padding-left: 8px;
}

.timeline {
  width: 100%; max-height: 20%;
  display: flex; gap: 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slide {
  width: 80%; height: 100%;
  flex-shrink: 0; padding: 12px;
  border: 1px dotted var(--foreground);
  border-radius: 8px;
  scroll-snap-align: center;
}

a {
  color: var(--bright-yellow);
  text-decoration: underline;
}
